.App {
  text-align: center;
}
.question__input{
  height: 100px;
  width: 400px;
  font-size: 100%;
  padding: 3px;
  border-left: 1px;
  border-right: 1px;
  outline: none;
  margin-bottom: 5px;
}
.question__textarea{
  height: 100px;
  resize: none;
}